/* I code this. I'm Li Shilong. Visit my website: shilong.li */

/* html mark style */
body{
	margin: 0; padding: 0
}

h1{
	font-size: 18px;
}

h2{
	font-size: 14px;
}

h3{
	font-size: 12px;
}

h4{
	font-size: 18px;
}

h5{
	font-size: 18px;
}

h6{
	font-size: 18px;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


/* base div frame style */
.topFrame {
	height: 100px;
	width: 100%;
	background-color: gray;
}

.contentFrame{
	background-color: green;
}

.footerFrame {
	height: 100px;
	width: 100%;
	background-color: gray;
}